* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: hologram;
    src: url('fonts/Starjhol.ttf');
}

@font-face {
    font-family: filled;
    src: url('fonts/Starjedi.ttf');
}

body {
    background: url('images/starwarsbackground.jpg');
    background-position-x: center;
    background-size: auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

/* NAV BAR */
nav {
    width: 100%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    font-family: hologram;
    color: #e5c926;
    align-items: center;
    letter-spacing: 2px;
}

#nav-img {
    width: 45px;
    height: auto;
    margin: 30px;
}

#nav-items {
    display: flex;
    list-style: none;
    gap: 50px;
    margin-right: 50px;
    font-size: 25px;
    z-index: 9999;
}

.nav-item {
    width: max-content;
    transition: transform .5s, opacity .2s;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item::after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: #e5c926;
    transition: width .5s;
}

.nav-item:hover:after {
    width: 100%;
}

.selected-nav-item {
    font-family: filled;
    font-size: 24px;
}

#nav-toggle {
    display: none;
    margin-right: 20px;
    transition: transform .2s;
}

.toggle-line {
    background: white;
    width: 22px;
    height: 3px;
    margin-bottom: 4px;
}

#nav-toggle> :last-child {
    margin-bottom: 0;
}

/* MAIN SEARCH BAR CONTAINER */
.main-search-container {
    font-family: filled;
    color: #e5c926;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: transform .3s;
    margin-top: 100px;
}

/* STAR WARS HEADER */
.main-search-container header {
    font-size: 100px;
    line-height: 80px;
    text-shadow: black 5px 5px 1px;
}

/* SEARCH BAR */
.inputContainer {
    background-color: black;
    color: white;
    border: 1px solid #e5c926;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: #ced4da 0px 0px 10px;
    transition: box-shadow .2s linear;
}
.inputWrapper {
    width: 600px;
    height: 44px;
    border-radius: 24px;
    display: flex;
    align-items: center;
}
.inputContainer:hover {
    box-shadow: #2E67F8 0px 0px 20px;
}

.inputWrapper img {
    width: auto;
    height: 25px;
    margin-left: 5px;
}

.inputWrapper input {
    height: 40px;
    width: inherit;
    max-width: 500px;
    color: white;
    background-color: transparent;
    border: none;
    letter-spacing: 2px;
    margin-left: 10px;
    padding-right: 10px;
    font-family: filled;
}

.inputWrapper input:focus {
    outline: none;
}

.inputWrapper button {
    background-color: transparent;
    font-family: hologram;
    font-size: 15px;
    text-align: center;
    color: #e5c926;
    border: none;
    margin-right: 8px;
    padding-left: 8px;
    border-left: 1px solid #e5c926;
}

.inputWrapper button:hover {
    cursor: pointer;
}

#recommendedSearch li{
    padding: 0 10px;
    list-style: none;
    transition: background-color .2s;
}
#recommendedSearch li:last-of-type{
    margin-bottom: 10px;
}

#recommendedSearch li:hover {
    background-color: grey;
}
/* MAIN CONTENT CONTAINER */
.main-content-container {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: rgba(112,177,249, 0.6);
    border: 2px solid #d8f6fd;
    border-radius: 20px;
    margin: 10px auto;
    transition: transform 1s;
    box-shadow: rgb(64,140,212) 1px -2px 30px, 0px 0px 10px rgb(21, 47, 72) inset;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

#image-container {
    min-width: 45%;
    height: 70%;
    background: url('https://www.kolpaper.com/wp-content/uploads/2020/12/Luke-Skywalker-Wallpaper-4.jpg');
    background-size: cover;
    background-position-x: center;
    border-radius: 20px;
}
.main-content-container section {
    height: 70%;
    font-family: hologram;
    font-weight: bold;
    font-size: 18px;
    color: rgb(21, 47, 72);
    text-shadow: rgba(28, 119, 223, 0.6) 2px 2px 1px;
    vertical-align: middle;
}
.data {
    color: rgb(147, 197, 255);
}
.bottom-triangle {
    position: absolute;
    top: 496px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 240px solid transparent;
    border-right: 240px solid transparent;
    border-top: 300px solid rgba(206, 212, 218, .2);
}

/* Page Loader */
.page-loader {
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.page-loader img {
    height: auto;
    width: 200px;
}

/* RESPONSIVE MEDIA QUERIES */

@media (max-width: 600px) {
    #nav-img {
        margin: 20px;
        width: 40px;
    }

    #nav-items {
        display: block;
        position: absolute;
        top: 80px;
        left: 20px;
    }

    #nav-toggle {
        display: block;
    }

    .nav-item {
        transform: translateX(-170px);
        opacity: 0;
    }

    .main-search-container header {
        font-size: 80px;
        line-height: 65px;
    }

    .inputWrapper {
        width: 400px;
    }

    .main-content-container {
        width: 360px;
    }
    .bottom-triangle {
        width: 0;
        height: 0;
        border-left: 171px solid transparent;
        border-right: 171px solid transparent;
        border-top: 240px solid rgba(206, 212, 218, .2);
    }
    .main-content-container section {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .inputWrapper {
        width: 360px;
    }

    .inputWrapper input {
        letter-spacing: 0;
        width: 230px;
    }

    .main-search-container header {
        font-size: 80px;
        line-height: 65px;
    }

    .main-content-container {
        width: 360px;
    }
}

/* HELPER CLASSES */
.hidden {
    display: none;
}

.reveal {
    transform: translateX(0px);
    opacity: 1;
}

.rotate {
    transform: rotate(180deg);
}

.collapse-z {
    transform: scaleX(0);
}

.opacity1 {
    opacity: 1;
}