* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: hologram;
    src: url('fonts/Starjhol.ttf');
}
@font-face {
    font-family: filled;
    src: url('fonts/Starjedi.ttf');
}
body {
    background: url('images/starwarsbackground.jpg');
    background-position-x: center;
    /* background-size: cover; */
    overflow: hidden;
}

.vingette {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(to top, rgba(0, 0, 0, .6) 15%, rgba(0, 0, 0, .2) 80%, rgba(0, 0, 0, .3) 5%);
}

/* NAV BAR */
nav {
    width: 100%;
    margin: auto;
    height: auto;
    display: flex; 
    justify-content: space-between;
    font-family: hologram;
    color: #e5c926;
    align-items: center;
    letter-spacing: 2px;
}

#nav-img {
    width: 45px;
    height: auto;
    margin: 30px;
}

#nav-items {
    display: flex;
    list-style: none;
    gap: 50px;
    margin-right: 50px;
    font-size: 25px;
}
.nav-item {
    width: max-content;
    transition: transform .5s, opacity .2s;
}
.nav-item:hover{
    cursor: pointer;
}
.nav-item::after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: #e5c926;
    transition: width .5s;
}

.nav-item:hover:after {
    width: 100%;
}
.selected-nav-item {
    font-family: filled;
    font-size: 24px;
}

#nav-toggle {
    display: none;
    margin-right: 20px;
    transition: transform .2s;
}

.toggle-line {
    background: white;
    width: 22px;
    height: 3px;
    margin-bottom: 4px;
}

#nav-toggle > :last-child {
    margin-bottom: 0;
}
/* MAIN SEARCH BAR CONTAINER */
.main-search-container {
    font-family: filled;
    color: #e5c926;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: transform .3s;
}

/* STAR WARS HEADER */
.main-search-container header {
    font-size: 100px;
    line-height: 80px;
    margin-top: 100px;
    text-shadow: black 5px 5px 1px;
}

/* SEARCH BAR */
.inputContainer {
    margin-top: 40px;
    background-color: black;
    color: white;
    border: 1px solid #e5c926;  
    width: 600px;
    height: 44px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    transition: box-shadow .2s linear;
    box-shadow: #ced4da 0px 0px 10px;
    margin-bottom: 20px;
}
.inputContainer:hover {
    box-shadow: #2E67F8 0px 0px 20px;
}
.inputContainer img {
    width: auto;
    height: 25px;   
    margin-left: 5px;
}
.inputContainer input {
    height: 40px;
    width: inherit;
    max-width: 500px;
    color: white;
    background-color: transparent;
    border: none;
    letter-spacing: 2px;
    margin-left: 10px;
    padding-right: 10px;
    font-family: filled;
}

.inputContainer input:focus{
    outline: none;
}

.inputContainer button {
    background-color: transparent;
    font-family: hologram;
    font-size: 15px;
    text-align: center;
    color: #e5c926;
    border: none;
    margin-right: 8px;
    padding-left: 8px;
    border-left: 1px solid #e5c926;
}
.inputContainer button:hover {
    cursor: pointer;
}

/* MAIN CONTENT CONTAINER */
.main-content-container {
    max-width: 700px;
    min-width: 400px;
    height: 30px;
    background-color: blue; 
    margin: auto;   
}
/* Page Loader */
.page-loader {
    opacity: 0;
    transition: opacity .5s;
}
.page-loader img{
    height: 200px;
    width: auto;
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -110%); 
}

/* RESPONSIVE MEDIA QUERIES */
@media (max-width: 600px) {
    .inputContainer {
        width: 400px;
    }
    .main-search-container header {
        font-size: 80px;
        line-height: 65px;
    }
    #nav-img {
        margin: 20px;
        width: 40px;
    }
    #nav-items {
        display: block;
        position: absolute;
        top: 80px;
        left: 20px;
    }
    #nav-toggle {
        display: block;
    }
    .nav-item {
        transform: translateX(-170px);
        opacity: 0;
    }
}
@media (max-width: 400px) {
    .inputContainer {
        width: 360px;
    }
    .inputContainer input {
        letter-spacing: 0;
        width: 230px;
    }
    .main-search-container header {
        font-size: 80px;
        line-height: 65px;
    }
}
/* HELPER CLASSES */
.hidden {
    display: none;
}
.reveal {
    transform: translateX(0px);
    opacity: 1;
}
.rotate {
    transform: rotate(180deg);
}
.collapse-z {
    transform: scaleX(0);
}